:root {
  --content-background-color: yellow;
}

.content__people {
  padding: 0px 0px 90px 0px;
  background-color: var(--content-background-color);
}

.content__button {
  text-align: center;
}

input {
  background: black;
  font-weight: bold;
  color: yellow;
}

.card {
  border: solid;
  margin: 10px;
}
