:root {
  --image-home-height: 200px;
  --content-background-color: yellow;
}

.content__home {
  padding: 0px 0px 90px 0px;
  background-color: var(--content-background-color);
  height: 100%;
}

.content__text_img {
  text-align: center;
}

img {
  height: var(--image-home-height);
}

h1 {
  padding-left: 50px;
}
