:root {
  --li-margin: 10px;
  --main-bg-color: black;
  --main-text-color: yellow;
}

.navbar {
  background-color: var(--main-bg-color);
  width: 100%;
  position: fixed;
  top: 0;
  a {
    float: left;
    color: var(--main-text-color);
    padding: 20px 16px;
    text-decoration: none;
    &:hover {
      background-color: var(--main-bg-color);
      color: var(--main-text-color);
      font-weight: bold;
    }
  }
}

.navbar__mobile {
  display: none;
}

@media screen and (max-width: 419px) {
  .navbar {
    display: none;
  }

  .navbar__mobile {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    a {
      width: 100pc;
    }
    .hamburger-react {
      color: var(--main-text-color);
    }
  }
}
