:root {
  --li-margin: 10px;
  --navbar-background-color: black;
  --navbar-text-color: yellow;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  background-color: var(--navbar-background-color);
}

a {
  text-decoration: none;
  display: inline-flex;
  margin: var(--li-margin);
  color: var(--navbar-text-color);

  :hover {
    background-color: var(--navbar-text-color);
    color: var(--navbar-background-color);
  }
}

.navbar__mobile {
  display: none;
}

@media screen and (max-width: 419px) {
  .navbar {
    display: none;
  }

  .navbar__mobile {
    display: block;
    overflow: hidden;
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
    position: fixed;
    top: 0;
    width: 100%;
  }

  .burgerMenu a:hover {
    background-color: var(--navbar-text-color);
    color: var(--navbar-background-color);
  }

  .hamburger-react {
    color: var(--navbar-text-color);
  }
}
