:root {
  --li-margin: 10px;
  --main-background-color: black;
  --main-text-color: yellow;
}
body {
  background-color: var(--main-background-color);
}

.navbar {
  background-color: var(--main-background-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  a {
    float: left;
    color: var(--main-text-color);
    padding: 20px 16px;
    text-decoration: none;
    &:hover {
      background-color: var(--main-background-color);
      color: var(--main-text-color);
      font-weight: bold;
    }
  }
}

.bm-burger-button {
  display : none
}

@media screen and (max-width: 419px) {
  .navbar {
    display: none;
  }
  
  .bm-burger-bars{
    background:  var(--main-text-color);
    border: solid;
  }

  .bm-burger-button {
    display : block;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 5px;
  }


  .bm-burger-bars-hover {
    color: var(--main-text-color);
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    color: var(--main-text-color);
  }

  .bm-menu {
    color: var(--main-text-color);
    background: var( --main-background-color);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 300px;
  }

  .bm-item {
    display: inline-block;
    color: var(--main-text-color);
    margin-bottom: 10px;
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
  }

  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-cross {
    background: var(--main-text-color);
  }
 }

