:root {
  --content-background-color: yellow;
  --card-content-padding: 10px;
}

.content__planet {
  padding: 0px 0px 90px 0px;
  background-color: var(--content-background-color);
}

.content__button {
  text-align: center;
}

input {
  background: black;
  font-weight: bold;
  color: yellow;
}

.card {
  border: solid;
  margin: var(--card-content-padding);
  padding: var(--card-content-padding);
}
