:root {
  --content-padding: 0px;
  --content-background-color: yellow;
}

.content {
  padding: var(--content-padding);
  text-align: justify;
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--content-background-color);
}

@media screen and (max-width: 419px) {
  .content {
    margin-top: 100px;
  }
}
