:root {
  --footer-background-color: black;
  --footer-text-color: yellow;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
}
